.decorative-lines {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.decor {
  position: absolute;
  max-width: none;
}

/* BLU */
.line-blue {
  top: 0;
  right: 0;
  width: 600px;
}

/* ARANCIONE */
.line-orange {
  bottom: 0;
  right: 0;
  width: 500px;
}

/* BIANCO */
.line-white {
  bottom: 0;
  left: 0;
  width: 300px;
}
